/*----------------    body1   -------------   */

body.faq {
    display: block;
	-webkit-font-smoothing: antialiased;
    background-image: url("/img/logo_aj_blanc.jpg");
	background-color: rgba(255,255,255,0.6);
    background-position: center;
	background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1em;
    font-size: 1em;
    font-variant-caps: all-small-caps;
    font-family: sans-serif;
}

body.answ {
	-webkit-font-smoothing: antialiased;
	background-position: bottom;
	background-size: contain;
	width: 100%;
    margin-top: 0;
    margin-bottom: 0;
	font-family: sans-serif;
}
/*---------------body-----------------*/

header {
	background-color: teal;
}

body.faq h1 {
    text-align: center;
    /* size: 10em; */
    width: 30em;
}

nav.footer {
    display: flex;
    text-align: center;
}
nav.answ {
	display: inline-block;
    justify-content: center;
	flex-direction: row;
}

footer {
	padding-top:  -10em ;
	background-color: teal;
	margin: 0;
}
footer:hover {
	padding-top: 0;
}

/*---------------liens-----------------*/


a.rtrn:first-child {
	width: 15%;
	display: inline-block;
}

a {
	background-color: rgba(255,255,255,0.8);
    color: dodgerblue;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    padding: 8px;
    text-decoration: none;
	font-weight: bolder;
}

a:hover {
    background-color: #ddd;
	color: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
    padding: 5px;
	font-size: 1.1em;
	text-shadow: 2px 2px 2px skyblue;

}

a:visited {
	background-color: rgba(0, 128, 128, 0.8);
	color: white;
}

a:hover:visited {
	color: black;
	text-shadow: 1px 1px 1px skyblue;
}

/*---------------liste-----------------*/


.box1 {
    justify-content: space-around;
    background-color: teal;
    padding: 10px ;
    border: 2px solid green ;
}
.main-nav {
    background-color: rgba(255,255,255,0.6);
    padding: 8px;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    width: 40em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(11, 11, 11, 0.5);
	margin-bottom: 1em;
}
textarea div {}
	justify-content: space-around;
    background-color: rgba(255,255,255,1);
    padding: 8px;
    list-style-type: none;
    box-sizing: border-box;
    width: fit-content();
	height: 20em;
	text-align: left;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(11, 11, 11, 0.5);
    margin: 15px;
	resize: none;
}

div.prev {
	display: inline-block;
	width: max-content;
	overflow-x: scroll;
	overflow-y: scroll;
	resize: none;
}

/*--textarea--*/
.content {
   background: beige;
}

.main-nav li {
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-nav ul {
    list-style-type: none;
}
.main-nav h1 {
   color: blue;
}

.push {
    margin-left: auto;
}

.quest {
    text-align: left;
}
.main-nav label {
	float: left;
	width: 15em;
	margin-right: 1em;
	text-align: right;
}
