# Fichiers / dossiers à ne pas prendre en compte lors de commits

$gitignore

htdocs/*.html

htdocs/img/*

vendor/amphp/*

# Ignore tous les fichiers json sauf index.json (à des fins de test)

json/*

!json/index.json

# Fichiers spécifiques à un utilisateur (à ne pas répliquer)

# $GIT_DIR/info/exclude
